# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Logs
logs/
*.log

# Data files
*.csv
*.zip
*.png
*.dbf

# Project-specific files
catboost_info/
challenge/
planning_neighborhoods.dbf
geo_export_43227ac5-047f-4fe8-aa84-8d60f1ff2159.*
model_artifacts/*
plots/
mlflow-db/
mlflow-data/
*.db

# Backup/temp files
old_*
old/
*\ copy/
codestacker-2025.zip

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store
